<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
    <script src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
      console.log('Hello');
    </script>
  </head>
  <body>
    <h1>KhoaPham Training</h1>
  </body>
</html>
