<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
    <script src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
      var n = 2;
      function show(){
        alert('123');
      }
      console.log('Hello');
      $(document).ready(() => {
        $('#btn-show').click(() => alert('Hello'));

        $('#btn-add').click(() => {
          var currentNum = parseInt($('#num').html());
          $('#num').html(currentNum + 1);
        });

        $('#btn-num').click(function(){
          var currentNum = parseInt($(this).html());
          $(this).html(currentNum + 1);
        });
        $('#btn-append').click(() => {
          $('#ul-list').append('<li>'+ ++n +'</li>')
        });

        $('#btn-red').click(() => {
          $('li').addClass('my-li')
        });
      });
    </script>
    <style media="screen">
      .my-li{
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>KhoaPham Training</h1>
    <button id="btn-show">Hello</button>
    <p id="num">0</p>
    <button id="btn-add">Add</button>
    <button id="btn-num">0</button>
    <ul id="ul-list">
      <li>0</li>
      <li>1</li>
      <li>2</li>
    </ul>
    <button id="btn-append">Append</button>
    <button id="btn-red">Red</button>
  </body>
</html>
