<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
    <script src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
      function show(){
        alert('123');
      }
      console.log('Hello');
      $(document).ready(() => {
        $('#btn-show').click(() => alert('Hello'));

        $('#btn-add').click(() => {
          var currentNum = parseInt($('#num').html());
          $('#num').html(currentNum + 1);
        });
      });
      console.log('Hello 222');
    </script>
  </head>
  <body>
    <h1>KhoaPham Training</h1>
    <button id="btn-show">Hello</button>
    <p id="num">0</p>
    <button id="btn-add">Add</button>
  </body>
</html>
